/* Google Font CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  width: auto;
  background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
  background-image: url("bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  font-family: sans-serif;
}
.wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cont {
  height: auto;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center;
}
.tt{
    margin-bottom: 10vh;
    font-size: 8vh;
}
.classform {
margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    ". ."
    ". ."
    ". ."
    ". ."
    "."
    ". .";
  gap: 1vw;
  justify-items: center;
  padding: 0.5vh;
  scale: 1.2;
}

input {
  width: 40vh;
  height: 5vh;
  padding: 3px 10px;
  border-radius: 5px;
  background-color: rgba(183, 239, 255, 0.7);
  transition: 0.3s;
}
input:hover{
  background-color: white;
}

.fillform{
  cursor: pointer;
}
#Maths,#Science{
  margin: 0;
  padding: 0;
  width: 15px;
}
.checkboxdiv{
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkboxdiv label{
  font-size: 15px;
  padding: 5px;
  font-weight: 600;
}
.titlelabel{
  font-size: 20px;
}

.classformelement {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.classformelement p{
  padding: 3px;
}